<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHubPackageRegistry" value="https://nuget.pkg.github.com/GITHUB_ACTOR/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHubPackageRegistry>
        <add key="Username" value="GITHUB_ACTOR" />
        <add key="ClearTextPassword" value="GITHUB_TOKEN" />
      </GitHubPackageRegistry>
  </packageSourceCredentials>
</configuration>